<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p>Status: <%= @task.completed ? 'done' : 'not done' %></p>

<h2>Edit Task</h2>


<%= render 'shared/form', task: @task %>

<%= link_to 'delete', task_path(@task), method: :delete, data: { confirm: "you sure?"} %>

<%= link_to 'back', :back %>